@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Merriweather;
}

/* banner area design */
.hero-container{
    max-width: 1220px;
    height: 600px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background: linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url(images/nwb.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;

}
header .text-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.text-content p {
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 30px;
    font-weight: 400;
}
.text-content h1{
color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 68px;
font-weight: 900;
text-align: center;
margin-top: 20px;
}

/* banner area design end */

/* discount area design start */

#discount{
    width: 750px;
    height: 806px;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 120px;


}
#discount .discount-content h1{
color: rgb(255, 0, 0);
font-family: Inter;
font-size: 85px;
font-weight: 700;
text-align: center;
margin-bottom: 35px;
}
#discount .discount-content p{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 22px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 13px;
}
#discount .discount-content h3{

color: rgb(7, 2, 17);
font-family: Inter;
font-size: 45px;
font-weight: 700;
line-height: 58px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 50px;
}

#discount .discount-image img{
    width: 100%;
    height: 100%;
}
/* discount area design end */


/* mid-party area design start */

#mid-party{
    max-width: 1220px;
    height: 600px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background:  linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url(/images/Vectorrr.png);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#mid-party .mid-party-left{
    width: 60%;

}

#mid-party .mid-party-left .tittle{
    color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 61px;
font-weight: 900;
line-height: 85px;
letter-spacing: 11%;
text-align: left;
padding-left: 70px;
margin-bottom: 20px;
}
#mid-party .mid-party-left p{
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    padding-left: 70px;
    margin-bottom: 30px;

}
#mid-party .mid-party-left span{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 19px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
text-transform: uppercase;
padding-left: 70px;


}

#mid-party .mid-party-right{
    width: 40%;
    text-align: center;



}


/* mid-party area design end */


/* information area design start */
#information{
    max-width: 1220px;
    height: 600px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#information .red-info{
font-family: Inter;
font-size: 32px;
font-weight: 600;
color: rgb(255, 0, 0);
}
 
#information h3{
font-family: Inter;
font-size: 32px;
font-weight: 600;
line-height: 56px;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;
}
#information .button{
    text-align: center;
    padding-top: 70px;
    
    

}
#information .button button{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    padding: 15PX 36PX;
    text-transform: capitalize;
    border-radius: 8px;
    background: rgb(255, 0, 0);
    border: none;
    cursor: pointer;
}
/* information area design end */

/* offer section design start */

#offer{
    max-width: 1220px;
    height: 500px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#offer .offer-left{
    width: 33%;
    
}
#offer .offer-mid{
    width: 37%;
    text-align: center;
    padding: 50;
    
}
#offer .offer-right{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: end;
}


.left-offer-content h5{
color: rgb(255, 0, 0);
font-family: Inter;
font-size: 21px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
margin-bottom: 10px;
}
.left-offer-content h1{
color: rgb(7, 2, 17);
font-family: Merriweather;
font-size: 45px;
font-weight: 900;
line-height: 60px;
letter-spacing: 0%;
text-align: left;
text-transform: capitalize;
margin-bottom: 10px;

}
.left-offer-content p{
color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 17px;
font-weight: 400;
line-height: 29px;
letter-spacing: 0%;
text-align: left;
}
#offer .offer-mid img{
width: 320px;
height: 320px;
text-align: center;
border: 9px solid rgb(255, 0, 0);
border-radius: 100%;


}
#offer .offer-right h1{
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 48px;
font-weight: 700;
line-height: 58px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 10px;
}
#offer .offer-right p{
    color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 17px;
font-weight: 400;
line-height: 29px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 10px;
}


/* offer section design end */
/* Holyday section design start */
#holyday{
    max-width: 1220px;
    height: 850px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
}
#holyday .holyday-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 900px;
    margin: 0 auto;
}

#holyday .holyday-text h5{
color: rgb(7, 2, 17);
font-family: Inter;
font-size: 21px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;

}
#holyday .holyday-text h1{
    font-family: Merriweather;
    font-size: 69px;
    font-weight: 900;
    line-height: 91px;
    letter-spacing: 0%;
    text-align: center;
}
#holyday .holyday-text h1 .holyday-color{
    color: rgb(255, 0, 0);
}

#holyday .holyday-text p{
color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 18px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
text-align: center;
}

#holyday .box-image{
    width: 100%;
    height: 200px;
    border-radius: 16px 16px 16px 16px;
    background: rgb(255, 0, 0);
    position: absolute;
    top: 80%;
}
#holyday .left-img{
    position: absolute;
    bottom: 10%;
}
#holyday .left-img img{
    width: 80%;
    height: 80%;
}

#holyday .right-img{
    position: absolute;
    left: 70%;
    bottom: 100%;
}
/* Holyday section design end */


/* portfolio section design start */
    #portfolio{
    max-width: 1220px;
    height: 950px;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 150px;
    }

    #portfolio .portfolio-text h5{
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 21px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
text-align: left;
    }
    #portfolio .portfolio-text h1{
        color: rgb(7, 2, 17);
        font-family: Merriweather;
        font-size: 45px;
        font-weight: 900;
        line-height: 60px;
        letter-spacing: 0%;
        text-align: left;
        text-transform: capitalize;
    }
    #portfolio .portfolio-text p{
        color: rgba(7, 2, 17, 0.6);
        font-family: Inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0%;
        text-align: left;
    }


    #portfolio .portfolio-image{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        width: 100%;
        padding-top: 60px;

    }

    #portfolio .portfolio-image img{
        width: 97%;
        height: 97%;
    }
/* portfolio section design end */




/* Newsletter section design start */
#Newsletter{
    max-width: 1220px;
    height: 650px;
    margin: 0 auto;
    margin-top: 200px;
    /* margin-bottom: 150px; */
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#Newsletter .newsletter-text{
    text-align: center;
    width: 850px;
}
#Newsletter .newsletter-text img{
    width: 131.25px;
    height: 137.52px;
}
#Newsletter .newsletter-text h1{
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 45px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 20px;
    margin-top: 20px;
}
#Newsletter .newsletter-text p{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 50px;
}

#newsletter .mail{
  width: 100%;
    

}
input :hover{
    border: none;
}
input {

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background: rgb(255, 255, 255);
    border: none;
    color: rgba(7, 2, 17, 0.3);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    margin-right: -20px;
}
  .mail button{
    border-radius: 0px 50px 50px 0px;
    background: rgb(255, 0, 0);
    border: none;color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
  }
  input ::placeholder{
color: rgba(7, 2, 17, 0.3);
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
text-align: center;
border: none;
  }
/* portfolio section design end */

